<h1>Books#index</h1>

  <% @books.each do |book| %>

    <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br>
    <%= link_to book_path(book.id) do %>
       <%= book.title %>
    <% end %>
    <h5><%= book.body %></h5>

    <ul>
      <li>Editer is
        <%= book.user.name %>
      </li>
    </ul>
    <div class="view view-first">
        <%= link_to book_path(book.id) do %>
            <h6>詳細</h6>
        <% end %>
    </div>
    <br>


  <% end %>

<%= paginate @books %>