<h1>Books#new</h1>


<div>
  <%= form_for(@book, url: books_path) do |f| %>

    <!-- エラーメッセージ -->
    <% if @book.errors.any? %>
      <h2><%= @book.errors.count %>件のエラーが発生しました。</h2>
      <ul>
        <li><%= flash[:alert1] %></li>
      </ul>
    <% end %>
    <!-- エラーメッセージ -->
    
    <p>本のタイトル</p>
    <%= f.text_field :title, placeholder:"本のタイトル" %>

    <p>本の感想</p>
    <%= f.text_area :body, placeholder:"本の感想" %>

    <p>送信ボタン</p>
    <%= f.submit "送信" %>
    
  <% end %>
</div>