<% if flash[:notice] %>
  <h6><%= flash[:notice] %></h6>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <!-- User info -->
      <%= render 'users/info', user: @user %>
      <!-- New Book -->
      <%= render 'books/new', book: @book %>
    </div>
    <div class="col-xs-9">
      <h1>Book detail</h1>

        <!-- リスト表示 -->
        <table class="table table-striped">

          <tbody>
            <tr>
              <td>

                <%= link_to user_path(@user.id) do %>
                  <%= attachment_image_tag @books.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
                <% end %>

                <%= link_to user_path(@user.id) do %>
                  <p><%= @user.name %></p>
                <% end %>

              </td>
              <td><%= @books.title %></td>
              <td><%= @books.body %></td>

              <% if @books.user == current_user %>
                <td><%= link_to "Edit", edit_book_path(@books), class: "btn btn-default" %></td>
                <td><%= link_to "Destroy", book_path(@books), method: :delete, class: "btn btn-default" %></td>
              <% end %>

            </tr>
          </tbody>

        </table>

        <!-- リスト表示 -->

    </div>
  </div>
</div>

