<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

        <!-- ここから -->
    <header class="container-fluid">
      <div class="row header-list">
          <ul>
            <% if user_signed_in? %>        <!-- サインインしている場合 -->
              <li>
                <%= link_to user_path(current_user.id), class:"box" do %>
                  <span class="glyphicon glyphicon-home"></span> Home
                <% end %>
              </li>
              <li>
                <%= link_to users_path, class:"box" do %>
                  <span class="glyphicon glyphicon-user"></span> Users
                <% end %>
              </li>
              <li>
                <%= link_to books_path, class:"box" do %>
                  <span class="glyphicon glyphicon-book"></span> Books
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class:"box" do %>
                  <span class="glyphicon glyphicon-log-out"></span> logout
                <% end %>
              </li>
            <% else %>                   <!-- サインインしていない場合 -->
              <li>
                <%= link_to "/", class:"box" do %>
                  <span class="glyphicon glyphicon-home"></span> Home
                <% end %>
              </li>
              <li>
                <%= link_to "/home/about", class:"box" do %>
                  <span class="glyphicon glyphicon-link"></span> About
                <% end %>
              </li>
              <li>
                <%= link_to "sign up", "/users/sign_up", class:"glyphicon glyphicon-edit box" %>
              </li>
              <li>
                <%= link_to "/users/sign_in", class:"box" do %>
                  <span class="glyphicon glyphicon-log-in"></span> login
                <% end %>
              </li>
            <% end %>
          </ul>
          <div class="header-logo">
            Bookers
          </div>
      </div>
    </header><!-- /header -->


    <!-- ここまで -->

    
    <%= yield %>
  </body>
</html>
